<%= form_for @fornecedor, :html => { :class => "form-horizontal fornecedor" } do |f| %>

    <% if @fornecedor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @fornecedor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :empresa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :empresa, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:empresa]) %>
  </div>
  <div class="control-group">
    <%= f.label :contato, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contato, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:contato]) %>
  </div>
  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:endereco]) %>
  </div>
  <div class="control-group">
    <%= f.label :bairro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bairro, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:bairro]) %>
  </div>
  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:cidade]) %>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estado, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:estado]) %>
  </div>
  <div class="control-group">
    <%= f.label :cep, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cep, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:cep]) %>
  </div>
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:telefone]) %>
  </div>
  <div class="control-group">
    <%= f.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:fax]) %>
  </div>
  <div class="control-group">
    <%= f.label :cnpj, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cnpj, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:cnpj]) %>
  </div>
  <div class="control-group">
    <%= f.label :inscricao_estadual, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inscricao_estadual, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:inscricao_estadual]) %>
  </div>
  <div class="control-group">
    <%= f.label :data_cadastro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :data_cadastro, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:data_cadastro]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@fornecedor[:email]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            fornecedors_path, :class => 'btn btn-default' %>

<% end %>
