<%= form_for @transportadora, :html => { :class => "form-horizontal transportadora" } do |f| %>
    <% if @transportadora.errors.any? %>
    <div id="error_explanation">
    Há erros no formulário, por favor verifique.
    </div>
    <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_tag @transportadora, :nome %>
  </div>

  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'form-control' %>
    </div>
    <%= error_tag @transportadora, :endereco %>
  </div>

  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'form-control' %>
   </div>
    <%= error_tag @transportadora, :cidade %>
  </div>

   <div class="input-group">
    <%= f.label :estado, :class => 'control-label' %> 
    <div class="controls">
      <%= f.select(:estado, (['', 'SP','MG', 'SC']), {}, :class => 'form-control' ) %>
    </div>
    <%= error_tag @transportadora, :estado %>
  </div>

   <div class="input-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'form-control campo_telefone', :placeholder => "(99) 9999-9999" %>
    </div>
    <%= error_tag @transportadora, :telefone %>
  </div>

   <div class="input-group">
    <%= f.label :cnpj, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cnpj, :class => 'form-control campo_cnpj', :placeholder => "99.999.999/9999-99" %>
    </div>
    <%= error_tag @transportadora, :cnpj %>
  </div>

   <div class="input-group">
    <%= f.label :inscricao_estadual, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inscricao_estadual, :class => 'form-control campo_ie', :placeholder => "999.999.999.999" %>
    </div>
    <%= error_tag @transportadora, :inscricao_estadual %>
  </div>


  <%= f.submit "Cadastrar", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancelar")),
            transportadoras_path, :class => 'btn btn-default' %>

<% end %>
