<%- model_class = Transportadora -%>
<div class="page-header">
  <h1>Lista de Transportadoras</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:cidade) %></th>
      <th><%= model_class.human_attribute_name(:estado) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:cnpj) %></th>
      <th><%= model_class.human_attribute_name(:inscricao_estadual) %></th>
      <th><%=t '.actions', :default => t("helpers.ações") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transportadoras.each do |transportadora| %>
      <tr>
        <td><%= link_to transportadora.id, transportadora_path(transportadora) %></td>
        <td><%= transportadora.nome %></td>
        <td><%= transportadora.endereco %></td>
        <td><%= transportadora.cidade %></td>
        <td><%= transportadora.estado %></td>
        <td><%= transportadora.telefone %></td>
        <td><%= transportadora.cnpj %></td>
        <td><%= transportadora.inscricao_estadual %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.editar")),
                      edit_transportadora_path(transportadora), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.excluir")),
                      transportadora_path(transportadora),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.novo")),
            new_transportadora_path,
            :class => 'btn btn-primary' %>
